<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"/>
    <div th:insert="~{blocks/header}"/>
</head>
<body>
<table class="table">
    <thead>
    <tr>
        <th>Номер</th>
        <th>Заголовок</th>
        <th>Автор</th>
        <th>Действие</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="article : ${articles}">
        <td th:text="${article.idArticle}"></td>
        <td th:text="${article.heading}"></td>
        <td th:each="user : ${article.getUser()}" th:text="${user.getLogin()}"></td>
        <td>
            <a class="btn btn-light" th:href="@{/Article/Index/{id}(id=${article.idArticle})}">🗑️</a>
            |
            <a class="btn btn-light" th:href="@{/Article/Update/{id}(id=${article.idArticle})}">🔄</a>
        </td>
    </tr>
    </tbody>
</table>
<a class="operator btn btn-info" href="/Article/Add">Создать</a>

</body>
</html>