<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <div th:insert="~{Blocks/header}"/>
</head>
<body>
<table class="table">
    <thead>
    <tr>
        <th>Номер</th>
        <th>Логин</th>
        <th>Роль</th>
        <th>Действие</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.idUser}"></td>
        <td th:text="${user.login}"></td>
        <td th:each="role : ${user.getRoles()}" th:text="${role.name()}"></td>
        <td>
            <a class="btn btn-light" th:href="@{/User/Update/{id}(id=${user.idUser})}">🔄</a>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>